<div class="login-container">
    <div class="login-left">
        <div class="login-content">
            <img src="../images/logo_qq.png" alt="Logo Quero-Quero" class="logo" />
            <h2>Colaborador</h2>
            <p class="login-label">Redefinir Senha</p>

            <form (ngSubmit)="redefinirSenha()">
                <div *ngIf="erro" class="alert alert-error">{{ erro }}</div>
                <div *ngIf="mensagem" class="alert alert-success">{{ mensagem }}</div>
                <input
                        type="password"
                        [(ngModel)]="novaSenha"
                        placeholder="Digite sua nova senha"
                        name="novaSenha"
                        required
                />
                <input
                        type="password"
                        [(ngModel)]="confirmarSenha"
                        placeholder="Confirme sua nova senha"
                        name="confirmarSenha"
                        required
                />

                <button type="submit" [disabled]="isLoading || mensagem">
                    {{ isLoading ? 'Salvando...' : 'Salvar Nova Senha' }}
                </button>
            </form>
        </div>
    </div>
<!--    <div class="login-right">-->
<!--        <img src="../images/mascote_quero_quero.jpg" alt="Mascote Quero-Quero" />-->
<!--    </div>-->
</div>
