<!-- O layout principal só é renderizado se showLayout for true -->
<div *ngIf="showLayout">

    <!-- Topbar -->
    <div class="topbar">
        <div class="topbar-left">
            <img src="../images/logo_qq.png" alt="Logo Quero-Quero" />
        </div>
        <div class="topbar-right">
            <div class="user-info" *ngIf="user">
                <span>Olá, {{ user.nome }} ({{ user.Perfil?.nome }})</span>
                <button (click)="logout()">Sair</button>
            </div>
        </div>
    </div>


    <div class="app-container">
        <aside class="sidebar" [class.collapsed]="isCollapsed">
            <button class="toggle-btn" (click)="toggleSidebar()">
                <span class="material-icons">menu</span>
            </button>

            <div class="logo">
                <span *ngIf="!isCollapsed">Controle Chat Bot</span>
                <span *ngIf="isCollapsed" class="material-icons">smart_toy</span>
            </div>

            <nav class="menu">
                <ul>
                    <!-- Links comuns -->
                    <li>
                        <a routerLink="/home" routerLinkActive="ativo">
                            <span class="material-icons">home</span>
                            <span class="text" *ngIf="!isCollapsed">Início</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/chat" routerLinkActive="ativo">
                            <span class="material-icons">question_answer</span>
                            <span class="text" *ngIf="!isCollapsed">Buscar Solução</span>
                        </a>
                    </li>

                    <!-- Links condicionais -->
                    <li *ngIf="temAcessoAPagina(['dashboard', 'relatorio', 'pendencia'])">
                        <a routerLink="/dashboard" routerLinkActive="ativo">
                            <span class="material-icons">insights</span>
                            <span class="text" *ngIf="!isCollapsed">Dashboard & Relatórios</span>
                        </a>
                    </li>
                    <li *ngIf="temAcessoAPagina(['usuario', 'perfi', 'permis'])">
                        <a routerLink="/gestao" routerLinkActive="ativo">
                            <span class="material-icons">manage_accounts</span>
                            <span class="text" *ngIf="!isCollapsed">Gestão de Utilizadores</span>
                        </a>
                    </li>
                    <li *ngIf="temAcessoAPagina(['documento', 'categoria'])">
                        <a routerLink="/base" routerLinkActive="ativo">
                            <span class="material-icons">library_books</span>
                            <span class="text" *ngIf="!isCollapsed">Base de Conhecimento</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="main-content" [class.collapsed]="isCollapsed">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

<div *ngIf="!showLayout" class="full-screen-content">
    <router-outlet></router-outlet>
</div>

<!-- Alerta de sessão expirada -->
<app-alerta
        *ngIf="sessionExpired"
        title="Sessão Expirada"
        message="A sua sessão expirou. Por favor, faça login novamente."
        (close)="onModalClose()">
</app-alerta>
