<div *ngIf="isLoggedIn$ | async">
    <div class="topbar">
        <div class="topbar-left">
<!--            <<img src="../images/logo_qq.png" alt="Logo Quero-Quero" />-->
        </div>
        <div class="topbar-right">
            <div class="user-info" *ngIf="user$ | async as user">
                <span>Olá, {{ user.nome }} ({{ user.Perfil?.nome }})</span>
                <button (click)="irParaPerfil()" class="topbar-btn" title="Editar Perfil">
                    <span class="material-icons">manage_accounts</span>
                </button>
                <button (click)="logout()" class="topbar-btn logout-btn" title="Sair">
                    <span class="material-icons">logout</span>
                </button>
            </div>
        </div>
    </div>

    <div class="app-container">
        <aside class="sidebar" [class.collapsed]="isCollapsed">
            <button class="toggle-btn" (click)="toggleSidebar()">
                <span class="material-icons">menu</span>
            </button>

            <div class="logo">
                <span *ngIf="!isCollapsed">Controle Chat Bot</span>
                <span *ngIf="isCollapsed" class="material-icons">smart_toy</span>
            </div>

            <nav class="menu" *ngIf="user$ | async as user">
                <ul>
                    <li *ngIf="temAcessoAPagina(user, ['dashboard', 'relatorio', 'pendencia'])">
                        <a routerLink="/home" routerLinkActive="active"><span class="material-icons">home</span><span class="text" *ngIf="!isCollapsed">Início</span></a>
                    </li>
<!--                    <li><a routerLink="/home" routerLinkActive="active"><span class="material-icons">home</span><span class="text" *ngIf="!isCollapsed">Início</span></a></li>-->
                    <li><a routerLink="/chat" routerLinkActive="active"><span class="material-icons">question_answer</span><span class="text" *ngIf="!isCollapsed">Buscar Solução</span></a></li>

<!--                    <li *ngIf="temAcessoAPagina(user, ['usuario', 'perfil', 'permissao'])">-->
<!--                        <a routerLink="/gestao" routerLinkActive="active"><span class="material-icons">manage_accounts</span><span class="text" *ngIf="!isCollapsed">Gestão de Usuários</span></a>-->
<!--                    </li>-->
                    <li *ngIf="temAcessoAPagina(user, ['documento', 'categoria'])">
                        <a routerLink="/base" routerLinkActive="active"><span class="material-icons">library_books</span><span class="text" *ngIf="!isCollapsed">Base de Conhecimento</span></a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="main-content" [class.collapsed]="isCollapsed">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

<div *ngIf="!(isLoggedIn$ | async)">
    <router-outlet></router-outlet>
</div>

<app-alerta
        *ngIf="sessionExpired"
        [title]="expiredMessage"
        message="Por favor, faça login novamente."
        (close)="onModalClose()">
</app-alerta>