<button class="botao-voltar" routerLink='/home'><i class="material-icons">arrow_back</i></button>
<div class="relatorios-container">
    <h2>Relatórios</h2>
    <div class="tabs-container">
        <button
                class="tab-button"
                [class.active]="abaAtiva === 'interacoes'"
                (click)="selecionarAba('interacoes')">
            Histórico de Interações
        </button>
        <button
                class="tab-button"
                [class.active]="abaAtiva === 'uso'"
                (click)="selecionarAba('uso')">
            Utilização de documentos
        </button>
    </div>

    <div class="relatorio-bloco" *ngIf="abaAtiva === 'interacoes'">
        <h3>Log de Interações do Chat</h3>
        <div class="filtros-container">
            <label for="filtroTema">Filtrar por Tema:</label>
            <select id="filtroTema" [(ngModel)]="filtroTemaId" (change)="onTemaChange()">
                <option [ngValue]="null">Todos os Temas</option>
                <option *ngFor="let tema of temasDisponiveis" [value]="tema.id_tema">{{ tema.nome }}</option>
            </select>

            <label for="filtroSubtema">Filtrar por Subtema:</label>
            <select id="filtroSubtema" [(ngModel)]="filtroSubtemaId" [disabled]="!filtroTemaId" (change)="aplicarFiltroInteracoes()">
                <option [ngValue]="null">Todos os Subtemas</option>
                <option *ngFor="let subtema of subtemasDisponiveis" [value]="subtema.id_subtema">{{ subtema.nome }}</option>
            </select>
            <label for="dataInicioInteracao">Data Início:</label>
            <input type="date" id="dataInicioInteracao" [(ngModel)]="dataInicioInteracao">

            <label for="dataFimInteracao">Data Fim:</label>
            <input type="date" id="dataFimInteracao" [(ngModel)]="dataFimInteracao">
            <div>
                <button (click)="onFiltroInteracoesClick()" class="botao-filtrar">
                <i class="material-icons">filter_list</i> Filtrar Interações
                </button>
            </div>
            <button (click)="exportarParaPlanilha()" class="botao-exportar">
                <i class="material-icons">download</i> Exportar Dados
            </button>
        </div>

        <div class="paginacao-container" *ngIf="totalInteracoes > 0">
            <label for="itensPorPaginaInteracoes">Itens por página:</label>
            <select id="itensPorPaginaInteracoes" [(ngModel)]="itensPorPaginaInteracoes" (change)="onItensPorPaginaInteracoesChange()">
                <option *ngFor="let opcao of opcoesItensPorPagina" [value]="opcao">{{ opcao }}</option>
            </select>

            <button (click)="mudarPaginaInteracoes(paginaAtualInteracoes - 1)" [disabled]="paginaAtualInteracoes === 1">
                Anterior
            </button>

            <span>Página {{ paginaAtualInteracoes }} de {{ totalPaginasInteracoes }}</span>

            <button (click)="mudarPaginaInteracoes(paginaAtualInteracoes + 1)" [disabled]="paginaAtualInteracoes === totalPaginasInteracoes">
                Próxima
            </button>
        </div>

        <div class="tabela-container">
            <table>
                <thead>
                <tr>
                    <th class="col-media">Data/Hora</th>
                    <th class="col-pequena">Usuário</th>
                    <th class="col-grande">Pergunta</th>
                    <th class="col-grande">Resposta</th>
                    <th class="col-media">Tema</th>
                    <th class="col-media">Subtema</th>
                    <th class="col-pequena">Documento</th>
                    <th class="col-pequena">Avaliação</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of interacoes">
                    <td data-label="Data/Hora">{{ formatarData(item.data_atendimento) }}</td>
                    <td data-label="Usuário">{{ item.usuario }}</td>

                    <td data-label="Pergunta" class="celula-texto-longo" [title]="item.pergunta_usuario">
                        {{ item.pergunta_usuario }}
                    </td>
                    <td data-label="Resposta" class="celula-texto-longo" [title]="item.resposta_gerada">
                        {{ item.resposta_gerada }}
                    </td>

                    <td data-label="Tema" [ngClass]="{'mensagem-sem-dados': item.tema === 'Solução não encontrada'}">
                        {{ item.tema }}
                    </td>
                    <td data-label="Subtema" [ngClass]="{'mensagem-sem-dados': item.sub_tema === 'Solução não encontrada'}">
                        {{ item.sub_tema }}
                    </td>
                    <td data-label="Documento">{{ item.documento }}</td>
                    <td data-label="Avaliação">{{ formatarAvaliacao(item.avaliacao) }}</td>
                </tr>
                <tr *ngIf="interacoes.length === 0">
                    <td colspan="6" class="mensagem-sem-dados">Nenhuma interação encontrada para os filtros selecionados.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="relatorio-bloco" *ngIf="abaAtiva === 'uso'">
        <h3>Uso de Subtemas por Período</h3>
        <div class="filtros-container">
            <label for="dataInicioUso">Data Início:</label>
            <input type="date" id="dataInicioUso" [(ngModel)]="dataInicio" name="dataInicioUso">

            <label for="dataFimUso">Data Fim:</label>
            <input type="date" id="dataFimUso" [(ngModel)]="dataFim" name="dataFimUso">

            <button (click)="onFiltroPeriodoClick()" class="botao-filtrar">
                <i class="material-icons">filter_list</i>Filtrar por Período
            </button>
        </div>

        <div class="tabela-container" *ngIf="usoSubtemas.length > 0">
            <table>
                <thead>
                <tr>
                    <th>Subtema</th>
                    <th>Nº de Utilizações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of usoSubtemas">
                    <td>{{ item.nome }}</td>
                    <td>{{ item.count }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="usoSubtemas.length === 0" class="mensagem-sem-dados">
            Não existem dados de utilização para o período selecionado.
        </div>

        <div class="paginacao-container" *ngIf="totalUsoSubtemas > 0">
            <label for="itensPorPaginaUso">Itens por página:</label>
            <select id="itensPorPaginaUso" [(ngModel)]="itensPorPaginaUso" (change)="onItensPorPaginaUsoChange()">
                <option *ngFor="let opcao of opcoesItensPorPagina" [value]="opcao">{{ opcao }}</option>
            </select>

            <button (click)="mudarPaginaUso(paginaAtualUso - 1)" [disabled]="paginaAtualUso === 1">
                Anterior
            </button>
            <span>Página {{ paginaAtualUso }} de {{ totalPaginasUso }}</span>
            <button (click)="mudarPaginaUso(paginaAtualUso + 1)" [disabled]="paginaAtualUso === totalPaginasUso">
                Próxima
            </button>
        </div>
    </div>
</div>