<div class="relatorios-container">
    <h2>Relatórios de Interação</h2>

    <!-- Seção de Filtros -->
    <div class="relatorio-bloco filtros-container">
        <h3>Filtros</h3>
        <label for="filtroTema">Tema:</label>
        <select id="filtroTema" [(ngModel)]="filtroTema">
            <option value="">Todos</option>
            <option *ngFor="let tema of temasUnicos" [value]="tema">{{ tema }}</option>
        </select>

        <label for="filtroMicrotema">Subtema:</label>
        <select id="filtroMicrotema" [(ngModel)]="filtroSubtema">
            <option value="">Todos</option>
            <option *ngFor="let microtema of microtemasUnicos" [value]="microtema">{{ microtema }}</option>
        </select>

        <label for="dataInicio">De:</label>
        <input type="date" id="dataInicio" [(ngModel)]="dataInicio" name="dataInicio">

        <label for="dataFim">Até:</label>
        <input type="date" id="dataFim" [(ngModel)]="dataFim" name="dataFim">

        <div class="botoes-filtro">
            <button (click)="aplicarFiltros()" class="botao-filtrar">
                <i class="material-icons">filter_list</i>Aplicar Filtros
            </button>
            <button (click)="limparFiltros()" class="botao-limpar">
                <i class="material-icons">clear</i>Limpar Filtros
            </button>
        </div>
    </div>

    <!-- Tabela de Resultados -->
    <div class="relatorio-bloco">
        <h3>Resultados</h3>
        <div class="tabela-container">
            <table>
                <thead>
                <tr>
                    <th>Data/Hora</th>
                    <th>Pergunta</th>
                    <th>Resposta do Bot</th>
                    <th>Tema</th>
                    <th>Subtema</th>
                    <th>Avaliação</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of registrosFiltrados">
                    <td>{{ formatarData(item.data_atendimento) }}</td>
                    <td>{{ item.texto_entrada_usuario }}</td>
                    <td>{{ item.resposta_gerada }}</td>
                    <td>{{ item.tema || 'N/A' }}</td>
                    <td>{{ item.sub_tema || 'N/A' }}</td>
                    <td>{{ formatarAvaliacao(item.avaliacao) }}</td>
                </tr>
                <tr *ngIf="registrosFiltrados.length === 0">
                    <td colspan="6" class="mensagem-sem-dados">Nenhum registro encontrado para os filtros selecionados.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
