<div class="page-container">
    <div class="page-content">
        <h2>Base de Conhecimento</h2>
        <button (click)="openModal()" class="add-button">Adicionar Conteúdo</button>

        <div class="filtros-container">
            <input
                    type="text"
                    [(ngModel)]="termoBuscaTemp"
                    placeholder="Buscar por nome do documento..."
                    class="input-busca"
                    name="busca"
            />
        </div>
        <button type="button" (click)="aplicarFiltro()" class="add-button filter-button">
            <i class="material-icons">filter_list</i>Filtrar
        </button>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tema</th>
                    <th>Microtema</th>
                    <th>Conteúdo</th>
                    <th>Palavras-chave</th>
                    <th>Anexo</th>
                    <th>Ativar</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let doc of docsFiltrados(); let i = index">
                    <td>{{ doc.nome }}</td>
                    <td>{{ doc.tema }}</td>
                    <td>{{ doc.microtema }}</td>
                    <td>{{ doc.conteudo }}</td>
                    <td>
              <span *ngFor="let palavra of doc.palavrasChave; let j = index">
                {{ palavra }}<span *ngIf="j < doc.palavrasChave.length - 1">, </span>
              </span>
                    </td>
                    <td>{{ doc.arquivos }}</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" [checked]="doc.ativo" (change)="toggleAtivo(i)">
                            <span class="slider"></span>
                        </label>
                    </td>
                    <td class="action-menu-container">
                        <div class="dropdown-container">
                            <button class="icon-button" (click)="toggleActionMenu(i)">
                                ⋮
                            </button>
                            <div class="dropdown-menu" *ngIf="activeMenuIndex === i">
                                <button (click)="editDoc(i)">Editar</button>
                                <button (click)="deleteDoc(i)">Excluir</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal" *ngIf="showModal">
            <div class="modal-content">
                <span class="close" (click)="closeModal()">&times;</span>
                <h3>{{ editIndex === null ? 'Adicionar Documento' : 'Editar Documento' }}</h3>

                <form>
                    <input type="text" [(ngModel)]="newDoc.nome" name="name" placeholder="Nome" required/>
                    <input type="text" [(ngModel)]="newDoc.tema" name="tema" placeholder="Tema"/>
                    <input type="text" [(ngModel)]="newDoc.microtema" name="microtema" placeholder="Microtema"/>

                    <div>
                        <input type="text" [(ngModel)]="newPalavraChave" placeholder="Nova Palavra-chave"
                               name="palavraChave"/>
                        <button type="button" (click)="addPalavraChave()">Adicionar Palavra-chave</button>
                    </div>
                    <ul>
                        <li *ngFor="let palavra of newDoc.palavrasChave; let i = index">
                            {{ palavra }}
                            <button type="button" (click)="removePalavraChave(i)">Remover</button>
                        </li>
                    </ul>


                    <textarea [(ngModel)]="newDoc.conteudo" name="conteudo" placeholder="Conteúdo" required></textarea>

                    <div>
                        <input type="file" (change)="onFileSelected($event)" accept=".pdf,.docx"/>
                        <button type="button" (click)="uploadFile()" [disabled]="!selectedFile">Enviar Arquivo</button>
                        <ul>
                            <li *ngFor="let arquivo of newDoc.arquivos; let i = index">
                                {{ arquivo.nome }} ({{ arquivo.tipo }})
                                <button type="button" (click)="removeArquivo(i)">Remover</button>
                            </li>
                        </ul>
                    </div>

                    <div class="modal-buttons">
                        <button type="button" (click)="addOrUpdateDoc()" [disabled]="!newDoc.nome || !newDoc.conteudo">
                            {{ editIndex === null ? 'Adicionar' : 'Atualizar' }}
                        </button>
                        <button type="button" *ngIf="editIndex !== null" (click)="cancelEdit()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
