<div class="login-container">
    <div class="login-left">
        <div class="login-content">
            <img src="../images/logo_qq.png" alt="Logo Quero-Quero" class="logo" />
            <h2>Colaborador</h2>
            <p class="login-label">Recuperar senha</p>
            <form>
                <input type="email" [(ngModel)]="email" placeholder="E-mail" name="email" required />
                <button type="button" (click)="recuperarSenha()">Enviar e-mail</button>
                <button type="button" (click)="voltar()">Voltar</button>
            </form>
        </div>
    </div>

    <div class="login-right">
        <img src="../images/mascote_quero_quero.jpg" alt="Mascote Quero-Quero" />
    </div>
</div>
