<div class="page-container" *ngIf="user">
    <div class="page-left">
        <div class="atalho">
            <button class="atalho-button" (click)="irPara('chat')">
                Soluções
            </button>
            <button class="atalho-button" *ngIf="user.Perfil?.nome === 'Admin'" (click)="irPara('gestao')">
                Usuários
            </button>
            <button class="atalho-button" *ngIf="user.Perfil?.nome === 'Admin'" (click)="irPara('dashboard')">
                Dashboard
            </button>
            <button class="atalho-button" *ngIf="user.Perfil?.nome === 'Admin'" (click)="irPara('base')">
                Base do Conhecimento
            </button>
        </div>
    </div>
</div>