<div class="dashboard-container">
    <div class="dashboard-box">
        <h2>Dashboard</h2>
        <div class="dashboard-grid">
            <div class="dashboard-left dashboard-box-inner">
                <div class="button-group">
                    <button (click)="irParaRelatorios()">
                        Relatórios
                    </button>
                    <button (click)="irParaPendencias()">
                        Solicitações de Inclusão
                    </button>
                </div>
            </div>

            <div class="dashboard-right dashboard-box-inner">
                <!-- Card para Perguntas Hoje -->
                <div class="stat-card">
                    <h3>Perguntas feitas hoje</h3>
                    <!-- Usa *ngIf para mostrar o número ou um spinner de carregamento -->
                    <p *ngIf="!isLoading; else loadingIndicator">{{ perguntasHojeCount }}</p>
                </div>
                <!-- Card para Pendências -->
                <div class="stat-card">
                    <h3>Solicitações de inclusão pendentes</h3>
                    <p *ngIf="!isLoading; else loadingIndicator">{{ pendenciasCount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Template reutilizável para o indicador de carregamento -->
<ng-template #loadingIndicator>
    <p class="loading-text">Carregando...</p>
</ng-template>
