<div class="login-container">
    <div class="login-left">
        <div class="login-content">
            <h2>Colaborador</h2>
            <p class="login-label">Cadastro</p>

            <form (ngSubmit)="register()">
                <div *ngIf="erro" class="alert alert-error">{{ erro }}</div>

                <input type="text" placeholder="Nome Completo" [(ngModel)]="nome" name="nome" required />
                <input type="email" placeholder="E-mail Corporativo" [(ngModel)]="email" name="email" required />

                <select [(ngModel)]="perfilId" name="perfilId" required>
                    <option [ngValue]="null" disabled>-- Selecione seu perfil --</option>
                    <option *ngFor="let perfil of perfisDisponiveis" [ngValue]="perfil.id_perfil">
                        {{ perfil.nome }}
                    </option>
                </select>

                <input type="password" placeholder="Crie uma Senha" [(ngModel)]="senha" name="senha" required />

                <button type="submit" [disabled]="isLoading">
                    {{ isLoading ? 'Enviando...' : 'Cadastrar' }}
                </button>

                <button type="button" class="button-secondary" [routerLink]="'/login'">Voltar para o Login</button>
            </form>
        </div>
    </div>
<!--    <div class="login-right">-->
<!--        <img src="assets/images/mascote_quero_quero.jpg" alt="Mascote Quero-Quero" />-->
<!--    </div>-->
</div>
